<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>22-intern-demo</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductController</display-name>
    <servlet-name>GetProductController</servlet-name>
    <servlet-class>com.controller.GetProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductController</servlet-name>
    <url-pattern>/GetProductController</url-pattern>
  </servlet-mapping>
</web-app>